{% extends "header.html" %}

{% block content %}

<h1>Map</h1>

<div id="map" style="height: 500px; width: 100%;"></div>

<script>
function initMap() {
    const center = { lat: 19.4326, lng: -99.1332 };

    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 12,
        center: center,
    });

    const spots = JSON.parse('{{ spots_json|escapejs }}');

    spots.forEach(spot => {
        if (spot.lat && spot.lng) {
            const marker = new google.maps.Marker({
                position: { lat: spot.lat, lng: spot.lng },
                map: map,
                title: spot.name,
            });

            const infowindow = new google.maps.InfoWindow({
                content: `<a href="/spots/${spot.id}/">${spot.name}</a>`
            });

            marker.addListener("click", () => {
                infowindow.open(map, marker);
            });
        }
    });
}
</script>

<script async
src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap">
</script>

{% endblock %}